<conf>
<servers>

	<main1>
		<port>9090</port>
		<name>main1</name>
		<protocol>0,1</protocol>
		<s2stoken>6816a23f305c446ec7728d60edddbe47</s2stoken>
		<group>12324</group>
		<!-- <multidbsites defaultsite="1" connections1="15" connections2="20" connections3="10"/> -->
		<multidbsites defaultsite="1" connections="4"></multidbsites>

	</main1>


	<entminisrv>
		<port>10086</port>
		<name>entminisrv</name>
		<protocol>0,1</protocol>
		<s2stoken>c73f56ed2740b57a393bee0935078530</s2stoken>
		<group>12324</group>
		<!-- <multidbsites defaultsite="1" connections1="15" connections2="20" connections3="10"/> -->
		<multidbsites defaultsite="1" connections="4"></multidbsites>

	</entminisrv>

	<main2>
		<port>10086</port>
		<name>main2</name>
		<protocol>1</protocol>
		<s2stoken>ed6cf0c3de4b7c70da8bf2b751cc53ba</s2stoken>
		<group>12324</group>
		<!-- <multidbsites defaultsite="1" connections1="15" connections2="20" connections3="10"/> -->
		<multidbsites defaultsite="1" connections="4"></multidbsites>

	</main2>


	<main3>
		<port>10086</port>
		<name>main3</name>
		<protocol>0</protocol>

		<s2stoken>2df48bdb5c9e09db81dbda1cfcbd7fe1</s2stoken>
		<group>12324</group>
		<!-- <multidbsites defaultsite="1" connections1="15" connections2="20" connections3="10"/> -->
		<multidbsites defaultsite="1" connections="4"></multidbsites>
	</main3>




	<yafTestServer>
		<port>10086</port>
		<name>yafTestServer</name>
		<s2stoken>41ecc40586228ba5dd41a55f1b0d4b5fe0382a54273155c8</s2stoken>
		<group>12324</group>
		<!-- <multidbsites defaultsite="1" connections1="15" connections2="20" connections3="10"/> -->
		<multidbsites defaultsite="1" connections="4"></multidbsites>
		<services>
			<service name="dbgate" group="789" usage="master"/>
			<service name="dbgate" group="789" usage="slave"/>
			<service name="cacheproxy" group="1111" />
		</services>
	</yafTestServer>


	<yafTestClient>
		<port>10089</port>
		<name>yafTestClient</name>
		<s2stoken>1891e214c0d9224af2bf440616c052f2678fdf498f8ddb66</s2stoken>
		<group>12324</group>
		<!-- <multidbsites defaultsite="1" connections1="15" connections2="20" connections3="10"/> -->
		<!-- <multidbsites defaultsite="1" connections="20" connections2="20" connections3="0"></multidbsites>		 -->
		<services>
			<service name="dbgate" group="789" usage="master"/>
			<service name="dbgate" group="789" usage="slave"/>
			<service name="cacheproxy" group="1111" />
		</services>
	</yafTestClient>

	<ankaredis>
		<port>10090</port>
		<protocol>0</protocol>
		<name>ankaredis</name>
		<s2stoken>ed09297d02f002d21a1fb70faebaf760506c2f08a6dd5f7e</s2stoken>
		<multidbsites defaultsite="1" connections="20"></multidbsites>
		<ramcloudsources>
			 <siteport dbname="default"
			 host="106.38.198.210" port="9403"
			 backup_host="106.120.184.86" backup_port="9403"
			 connect_timeout="500" net_readwrite_timeout="500"
			 num_redis_socks="10" connect_failure_retry_delay="1"
			 s2sname="mock" groupId="100"
			 />
		</ramcloudsources>
		<redisources>
			 <siteport dbname="default"
			 host="127.0.0.1" port="6379"
			 backup_host="127.0.0.1" backup_port="6379"
			 connect_timeout="500" net_readwrite_timeout="500"
			 num_redis_socks="10" connect_failure_retry_delay="1"
			 />
		</redisources>
	</ankaredis>

</servers>
</conf>
